
#role1{
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

#role2{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

#role1:hover{
    background-color:#E8E8E8;
}

#role2:hover{
    background-color:#E8E8E8;
}

.btn-large
{
    width: 100%;

}
form
{
    margin-top: 5%;
    padding-top: 10px;
    background-color:white;
    border-radius: 5px;
    box-shadow: 5px 10px 8px #888888;
    float: left;
    display:inline-block;

}

.noBorder{
    box-shadow: none;
}

.image{
    width: 220px;
}
.pagefont{
    font-size: 15px;
    font-family: sans-serif;
    line-height: 1.5;
    color: #4D525B;
    margin-bottom: 0;
}

.customfileupload{
    border-style: dashed !important;
}

.errormessage
{
    font-size: x-small;
    margin-top: 0px;
    color: red;
    padding-top: 0px;
}

table {
    table-layout: fixed;
    word-wrap: break-word;
}

.gridFont{
    display: inline-block;
    padding-top: 3px;
    font-size: 10px;
    font-family: Arial, sans-serif;
    color:#888888;
}

.gridFontLeft{
    alignment: left;
    display: inline-block;
    padding-top: 3px;
    font-size: 10px;
    font-family: Arial, sans-serif;
    color:#888888;
}

.gridHeader{
    display: inline-block;
    padding-top: 3px;
    font-size: 11px;
    font-family: Arial, sans-serif;
}

.logoImage {
    max-width: 200px !important;
    max-height: 100px !important;
}