.customImage
{
    top: 3px;
    width: 150px;
    padding-right: 10px;
}

.bgImage
{
    width: 100%;
    height: 450px;

}
.navbar-inverse {
    background-color: #222;
    border-color: #080808;
}
.button-padding {
    padding-right: 20px;
    padding-left: 20px;
}
@media (min-width: 768px) {
    .navbar {
        border-radius: 4px;
    }
    .navbar-header {
        float: left;
    }
}
