body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.loginContainer {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, .08), 0 2px 4px 0 rgba(0, 0, 0, .12);
  border-radius: 3px;
  background: #fff;
  margin-top: 20px;
}

.main-content, main {
  min-height: 100vh;
  zoom: 1;
  display: block;
  min-height: 70vh;
  font-size: 14px;
  line-height: 1.4;
  color: #1f2836;
  background: #F0F0F0;
}

.header-login-form
{
    position: relative;
    max-width: 390px;
    margin: 0 auto;
    background: #fff;
}

div {
    display: block;
}